body{
    background-color: lightgray;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}
header {
  background-image: url(images/header.jpg);
  height: 100px;
  margin: 0%;
  padding-right: 40px;
  text-align: left;
  color: lightgray;
  font-size: 2em;

}
header section{
    padding: 1%;
}
h3{
    font-size:2em;
    color: #31636B; 
}
.prem {
    font-size: xx-large;
    margin-top: 5%;
    margin-bottom: 5%;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2%;
}
main a:hover {
    color: black;
}
main a:visited {
    color: black;
}
main p {
    color: #31636B  ;
}
main section{ 
    display: flex;
    flex-direction: column;
    text-align: center;
    
}
main section p{ 
    margin: 0%;
    font-size: 5em;
    color: #31636B;
    font-weight: 800;
}
main section article{   
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5%;
}
main section article a{
    margin: 30px;
    width: 60%;
    height: 40px;
    background-color: #31636B;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-decoration: none;

}
main div article{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 50%;
}
main div article section{
    display: flex;
    justify-content: space-between;
    width: 50%;
}

main div article section p{
    font-size: 2em;
    color: #31636B;
    margin: 5px;
    text-align: left;
}

main div article section :last-child{
    text-align: center;
}

main div article img {
    width: 30%;
    height: 30%;
    box-sizing: border-box;
    border-radius: 20px;
}

.comp{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.titre{
    box-sizing: border-box;
    border-radius: 20px;
    background-color: #072c31;
    color: white;
    font-size: 3em;
    padding: 10px;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1em;
}

.comp article{
    display: flex;
    flex-direction: column;
    width:25%;
    box-sizing: border-box;
    border-radius: 20px;
    font-size: 1em;
    justify-content: space-between;

}
.comp article a{
    margin: auto;
    margin-top: 10%;
    margin-bottom: 0%;
}

.comp article h1{
    box-sizing: border-box;
    border-radius: 20px;
    background-color: #31636B;
    color: white;
    padding: 10px;
}

.comp section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.comp section article p{
    font-size: 1em;
    color: #31636B;
}

.comp section article a p{
    font-size: 2em;
    color: wheat;
    margin-top: 1%;
}

.comp section article{
    display: flex;
    justify-content: space-between;
}

.comp article img {
    width:100%;
    box-sizing: border-box;
    border-radius: 20px;
}


footer{
    background-color: #31636B;
    height: 100px;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: left;
    padding: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: aliceblue;
    text-decoration: none;
}
footer a:hover {
    color: white;  
}
footer a{
    padding: auto;
    text-decoration: none;
    color: wheat;
}
footer img{
    width: 40%;
    margin: auto;
}

footer article{
    display: flex;
    flex-direction: column;
    margin: auto;
}
footer article a{
    margin: 5px;
}
.copyright{
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 5px;
    color: brown;
}
.fleche{
    position: fixed;
    bottom: 33px;
    right: 11px
}
@media screen and (max-width: 992px) {

    main div article section p{
        text-align: center;
    }

    .prem {
        font-size: x-large;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .comp section{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
    }
    main section{
        margin: auto;
        width:90%;
    }

    .comp article{
        width: 70%;
        margin: auto;
    }
    main img{
        margin: auto;
    }
    main div article{
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    footer img{
        width: 40%;
        margin: auto;
    }

}